.wrapper{
  width: 490px;
  margin-top: 100px;
}
.title{
  font-weight: 600;
  font-size: 44px;
  line-height: 70px;
}
.content{
  width: 488px;
}
.paragraf{
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #46505C;
}
.btn{
  width: 210px;
  height: 63.11px;
}
.button{
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  background-color: #5E50A1;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
}
.box{
  margin-top: 50px;
}
.boxImage{
  width: 450px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 10px;
}
.image{
  margin-top: 25px;
}
.boxGrey{
  width: 400px;
  height: 400px;
  background-color: #E2E5ED;
  transform: rotate(-15.0deg);
  position: absolute;
  z-index: -1;

  bottom: 0;
}
.wrap{
  width: 400px;
  height: 400px;
  position: relative;
}
.img{
  margin-top: 25px;
  margin-left: 25px;
}
.purplee{
  width: 70px;
  height: 70px;
  background-color: #5E50A1;
  position: absolute;

  top: 0;
}
.greyy{
  width: 350px;
  height: 350px;
  background-color: #E2E5ED;
  transform: rotate(15deg);
  position: absolute;
  z-index: -2;

  bottom: 15px;
  left: 15px;
}
.p{
  font-size: 13px;
  color: #46505C;
  margin-left: 15px;
}
.none{
  margin-top: 150px;
}
.foot{
  height: 227px;
  border-radius: 40px 8px 40px 8px;
  background-color: #5E50A1;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 250px;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  /* margin-left: 50px; */
}
.start{
  background-color: #fff;
  width: 190px;
  height: 55px;
  border: none;
  border-radius: 4px;
  color: #796EAF;
  font-size: 14px;
  font-weight: 700;
  /* margin-right: 50px; */
}

@media screen and (max-width:600px) {
  .boxImage{
    width: 300px;
  }
  .wrapper{
    width: 300px;
  }
  .content{
    width: 300px;
  }
  .button{
    width: 100px;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;  
  }
  .none{
    margin-top: 50px;
  }
  #row{
    display: flex;
    flex-direction: column-reverse;
  }
  #second{
    margin-top: 100px;
  }
  .foot{
    flex-direction: column;
  }
  .text{
    text-align: center
  }
}