.box{
    width: 500px;
    height: 570px;
    position: relative;
}
.boxImage{
    background-color: #5E50A1;
    width: 500px;
    height: 570px;
    opacity: 80%;
    position: absolute;
    z-index: 1;

    bottom: 0.1px;
}
.logo{
    margin-top: 30px;
    margin-left: 30px;
}
.wrapper{
    width: 346px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
.title{
    color: #fff;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
}
.titles{
    font-size: 32px;
    font-weight: 600;
    color: #1F2A36;
}
.p{
    font-size: 13px;
    font-weight: 400;
    line-height: 24.51px;
    color: #46505C;
}
#label{
    font-size: 12px;
    font-weight: 400;
    color: #9EA0A5;
}
.forgot{
    font-size: 13px;
    font-weight: 400;
    color: #1F2A36;
}
.boxForgot{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 430px;
}
.login{
    border: none;
    height: 30px;
    border-radius: 4px;
    background-color: #FBB017;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
}
.sign{
    margin-left: 180px;
    margin-top: 20px;
}
.auth{
    font-size: 13px;
    font-weight: 400;
}
.span{
    margin-left: 2px;
    color: #FBB017;
}
@media screen and (max-width: 600px) {
    .box{
        display: none;
    }
    .boxForgot{
        margin-left: 200px;
    }
    .sign{
        margin-left: 40px;
    }
}